[submodule "games/gungame"]
	path = games/gungame
	url = https://github.com/phillipcheng/gungame.git
	branch = main
[submodule "games/demon-slayer"]
	path = games/demon-slayer
	url = https://github.com/phillipcheng/demon-slayer.git
	branch = main
[submodule "games/demo-game-5fet"]
	path = games/demo-game-5fet
	url = https://github.com/phillipcheng/demo-game-5fet.git
	branch = main
